@import 'styleReset.scss';
html {
    box-sizing: border-box;
}
body {
    box-sizing: inherit;
}

.header {
    font-family: 'Times new roma', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    text-transform: uppercase;
    &:nth-child(1) {
        line-height: 1.5;
    }
    // style add for better performance of header
}

.paragraph {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    padding-top: .5em;
    margin: auto;
    max-width: 456px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > article {
        > section {
            margin: 1rem ;
            &.aboutJewellery {
                padding: 2rem;
                margin-bottom: 0px;
                background-color: rgba($color: #FBDAC9, $alpha: .3);
            }
        }
    }
    .jewelleryPhoto {
        transform: translateY(-30px);
    }
}
// color of background: R 253 G 243 B 238
img {
    display: block;
    overflow: hidden;
}

@media screen and (min-width: 1024px),  (orientation: landscape) and (min-heigh: 500px) {
    main {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template: [line_start] "ringPhoto about" 50vh
        "aboutJewell jewelleryPhoto" 50vh [line_end]/ 50% 50%;
        > article.aboutText__article {
            display: flex;
            justify-content: space-around;
            > section.aboutText__section {
            align-self: center;
            &::after {
                content: url("/images/group-12.png");
                position: relative;
                top: 1em;
                left: 40%;
            }
            }
        }
        > article.aboutJewellery__article {
            display: flex;
            justify-content: center;
            > .aboutJewellery {
                align-self: center;
                background-color: white;
                background-image: url("/backgroundSvg.svg");
                background-repeat: no-repeat;
                background-position: top left;
                background-size: cover;
                transform: translateY(-1.5rem) translateX(1rem);
                max-height: 194px;
                width: 650px;
            }
        }
        > div.q {
            margin: 2.5rem 0rem 0rem 2rem;
        }

    }
    img {
        margin: 2rem 0rem 0rem 1rem;
        width: -moz-available;
        min-width: 298px;
        object-fit: contain;
    }
    .jewelleryPhoto {
        transform: translate(-32px, -16px);
    }
    .aboutText {
        grid-area: about;
    }
    .div__image {
        grid-area: ringPhoto;
        justify-content: center;
    }
    .aboutJewellery {
        grid-area: aboutJewell;
        justify-content: stretch;
    }
    .div__image--jewellery{
        grid-area: jewelleryPhoto;
        justify-content: center;
    }
    .div__image ,.div__image--jewellery {
        display: flex;
        margin: 0px 1rem;
        min-height: 25vh;
        min-width: 50vh;
    }
    br {
        display: none;
        &:first-child {
            display: block;
        }
    }
}

.div__image ,.div__image--jewellery {
    display: flex;
    margin: 0px 1rem;
}

    
